# ASR core
sherpa-onnx
numpy
gguf
onnxruntime-directml; platform_system=='Windows'
onnxruntime; platform_system=='Darwin'

# basic
rich
websockets
watchdog
pypinyin

# tray and image
pystray
Pillow

markdown
tkhtmlview
